@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>

<h3>Your new account has been set up</h3>
<p>Please check your email for confirmation</p>