@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}

@*<p>@Url.Page("/Blog/Index", new { page = 5})</p>*@

@*<ol>
    @foreach (var p in Model.posts)
    {
        <li>@p.Title</li>
    }
</ol>*@

